


<div id="Footer">
      <footer>
        <div class="container d-none d-md-block">
          <div class="row py-5">
            <div class="col-md-4">
              <p class="subtitle fw-bold fs-4">EA Translations</p>
              <p class="text">Number: +212675807711</p>
              <p class="text">Email: ilyas@englisharabictranslations.com</p>
              <p class="text">Location: AV Bohachem Rue C N4 Tetouan</p>
            </div>
            <div class="col-md-4">
              <p class="subtitle fw-bold fs-4">Useful links</p>
              <p><a href="#Services">Services</a></p>
              <p><a href="#About">About</a></p>
              <p><a href="#Contact">Contact</a></p>
            </div>
            <div class="col-md-4">
              <p class="subtitle fw-bold fs-4">Our services</p>
              <p><a href="/ServiceTranslation">Translation</a></p>
              <p><a href="/ServiceLocalization">Localization</a></p>
              <p><a href="/ServiceDtp">Layout & DTP</a></p>
              <p><a href="/ServiceTranscreation">Transcreation</a></p>
            </div>
          </div>
        </div>

        <div class="container d-md-none">
          <div class="row py-5 text-center">
            <div class="col-md-4">
              <p class="subtitle fw-bold fs-4">EA Translations</p>
              <p class="text"><span style="font-weight: 600;">Number:</span> +212675807711</p>
              <p class="text"><span style="font-weight: 600;">Email:</span> ilyas@englisharabictranslations.com</p>
              <p class="text"><span style="font-weight: 600;">Location: </span>AV Bohachem Rue C N4 Tetouan</p>
          </div>
            <div class="col-md-4">
              <p class="subtitle fw-bold fs-4">Useful links</p>
              <p><a href="#Services">Services</a></p>
              <p><a href="#About">About</a></p>
              <p><a href="#Contact">Contact</a></p>
            </div>
            <div class="col-md-4">
              <p class="subtitle fw-bold fs-4">Our services</p>
              <p><a href="/ServiceTranslation">Translation</a></p>
              <p><a href="/ServiceLocalization">Localization</a></p>
              <p><a href="/ServiceDtp">Layout & DTP</a></p>
              <p><a href="/ServiceTranscreation">Transcreation</a></p>
            </div>
          </div>
        </div>
      </footer>
      </div>