<div id="navbar">
  <nav class="navbar navbar-expand-lg navbar-light container">
    <div class="container-fluid">
      <a class="navbar-brand" href="/../translation-services.html">
        <img src="/../img/logo.png" alt="Arabic translation services">
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fa-solid fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="mx-auto">
          <ul class="navbar-nav mb-2 mb-lg-0 text-center">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/../#About">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/translation-services/#LandingPageServices">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog/">Blog</a>
            </li>
            <li class="nav-item cl-2">
              <a class="nav-link" href="/../#Contact">Contact</a>
            </li>
          </ul>
        </div>
        <div class="me-auto">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a href="http://order.eatranslations.com">
                <button class="btn CtaButton">Order</button>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>