---
title: Certified Translation Services
layout: 'orderBase.njk'
metaDesc: UNLISTED
---
<div id="navbar">
    <nav class="">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md">
                    <div class="ms-0 logo">
                        <a class="" href="/../index.html">
                            <img src="/../img/logo.png" alt="Arabic translation services">
                        </a>
                    </div>
                </div>
                <div class="col-md">
                    <div class="me-0 stage-counter">
                        <div class=" me-5">
                            <div class="stepper-wrapper">
                                <div class="stepper-item completed">
                                    <div class="step-counter"></div>
                                    <div class="step-name">Contact</div>
                                </div>
                                <div class="stepper-item active">
                                    <div class="step-counter"></div>
                                    <div class="step-name">Documents</div>
                                </div>
                                <div class="stepper-item ">
                                    <div class="step-counter"></div>
                                    <div class="step-name">Options</div>
                                </div>
                                <div class="stepper-item">
                                    <div class="step-counter"></div>
                                    <div class="step-name">Payment</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="orderPage" id="test">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md firstCol ">
                <div class="container pt-5 orderContact orderActive">
                    <h6>Contact Information</h6>
                    <form id="orderForm">
                        <div class="mb-3">
                            <label for="nameInput" class="form-label"><i>Full name</i></label>
                            <input type="text" class="form-control" id="nameInput" required>
                        </div>
                        <div class="mb-3">
                            <label for="emailInput" class="form-label"><i>Email</i></label>
                            <input type="email" class="form-control" id="emailInput" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Continue to Documents</button>
                    </form>
                </div>

                <div class="container orderDocuments my-5">
                    <h6>What type of translation do you need?</h6>
                        <div>
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" form="orderForm">
                            <label class="form-check-label" for="exampleCheck1">Certified Translation</label>
                        </div>

                        <div>
                            <input type="checkbox" class="form-check-input" id="exampleCheck2" form="orderForm">
                            <label class="form-check-label" for="exampleCheck2">Standard Translation</label>
                        </div>

                    <h6 class="mt-5">What language pair do you need translated?</h6>
                        <label class="form-label" for="Source-LanguageL[]"><i>Source Language</i></label>
                        <select class="form-select" id="SL" aria-label="Default select example" name="Source-Language[]" required form="orderPage">
                            <option value="" disabled selected>Select a language</option>
                            <option value="Arabic">Arabic</option>
                            <option value="Afrikaans">Afrikaans</option>
                            <option value="Czech">Czech</option>
                            <option value="Danish">Danish</option>
                            <option value="Dutch">Dutch</option>                                         
                            <option value="English">English</option>
                            <option value="French">French</option>
                            <option value="Finnish">Finnish</option>
                            <option value="German">German</option>
                            <option value="Greek">Greek</option>
                            <option value="Hindi">Hindi</option>
                            <option value="Hebrew">Hebrew</option>
                            <option value="Hungarian">Hungarian</option>
                            <option value="Italian">Italian</option>
                            <option value="Indonesian">Indonesian</option>
                            <option value="Japanese">Japanese</option>
                            <option value="Korean">Korean</option>
                            <option value="Lithuanian">Lithuanian</option>
                            <option value="Norwegian">Norwegian</option>
                            <option value="Negerian">Nigarian</option>
                            <option value="Portuguese">Portuguese</option>
                            <option value="Polish">Polish</option>
                            <option value="Persian">Persian</option>
                            <option value="Russian">Russian</option>
                            <option value="Romanian">Romanian</option>
                            <option value="Spanish">Spanish</option>
                            <option value="Simplified chinese">Simplified chinese</option>
                            <option value="Swedish">Swedish</option>
                            <option value="Thai">Thai</option>
                            <option value="Turkish">Turkish</option>
                            
                            
                        </select>
                        <label class="form-label" for="Target-LanguageL[]" ><i>Target Language</i></label>
                        <select class="form-select" id="TL" aria-label="Default select example" name="Target-Language[]" required form="orderPage">
                            <option value="" disabled selected>Select a language</option>
                            <option value="Arabic">Arabic</option>
                            <option value="Afrikaans">Afrikaans</option>
                            <option value="Czech">Czech</option>
                            <option value="Danish">Danish</option>
                            <option value="Dutch">Dutch</option>                                         
                            <option value="English">English</option>
                            <option value="French">French</option>
                            <option value="Finnish">Finnish</option>
                            <option value="German">German</option>
                            <option value="Greek">Greek</option>
                            <option value="Hindi">Hindi</option>
                            <option value="Hebrew">Hebrew</option>
                            <option value="Hungarian">Hungarian</option>
                            <option value="Italian">Italian</option>
                            <option value="Indonesian">Indonesian</option>
                            <option value="Japanese">Japanese</option>
                            <option value="Korean">Korean</option>
                            <option value="Lithuanian">Lithuanian</option>
                            <option value="Norwegian">Norwegian</option>
                            <option value="Negerian">Nigarian</option>
                            <option value="Portuguese">Portuguese</option>
                            <option value="Polish">Polish</option>
                            <option value="Persian">Persian</option>
                            <option value="Russian">Russian</option>
                            <option value="Romanian">Romanian</option>
                            <option value="Spanish">Spanish</option>
                            <option value="Simplified chinese">Simplified chinese</option>
                            <option value="Swedish">Swedish</option>
                            <option value="Thai">Thai</option>
                            <option value="Turkish">Turkish</option>
                        </select>

                    <h6 class="mt-5">How many pages do you need translated?</h6>
                    <input type="number" class="" id="pageCount" form="orderForm" min="1">
                    <label class="form-check-label" for="pageCount">Page Count</label>

                    <h6 class="mt-5">Upload your Document(s)</h6>
                    <input type="file" class="" id="docs" form="orderForm" min="1">
                    <label class="form-check-label" for="docs"><i class="fa-solid fa-paperclip"></i> Upload your files</label>
                    <br>
                    <button type="submit" class="btn btn-primary mt-5">Continue to Options</button>

                </div>

                <div class="container orderOptions">
                    <h6 class="mt-5">Which optional services do you need?</h6>
                    <div>
                        <label class="form-check-label" for="notorization"><h6>Notorization</h6></label>
                        <input type="checkbox" class="form-check-input" id="notorization" form="orderForm">
                        <p>Stamp and signature authenticating the signer of the translation certification. Valid in all 50 states.</p>
                    </div>
                    <div>
                        <label class="form-check-label" for="fastTurnaround"><h6>Expedited Turnaround</h6></label>
                        <input type="checkbox" class="form-check-input" id="fastTurnaround" form="orderForm">
                        <p>Your order will be prioritized and turnaround time for digital delivery reduced by 50%.</p>
                    </div>

                    <button type="submit" class="btn btn-primary">Continue to Payment</button>
                </div>

                <div class="container orderPayment">
                    <h6>Payment method</h6>
                    <p>Shopify shit</p>
                </div>

            </div>

            <div class="col-md secCol">
                <div class="container pt-5">
                    <h6>Summary</h6>
                    <p>Certified Translation</p>
                </div>
                <div class="container pt-5">
                    <h6>Secure and Private</h6>
                    <p>All data processed by our site, including uploaded files, is encrypted. Only essential staff with signed NDAs can access your information.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../js/script.js" type="module"></script>

