---
title: Success
layout: 'base.njk'
metaDesc: Get Professional translation services for documents, websites, user manuals, and everything else into +25 languages at an excellent value!
---

<div class="container-full text-center" id="thankyouSection">
    <h1 class="text-center">Thank you for using our services!</h1>
    <p>One of our specialists will analyze your document(s) and get back to you in less than 30 minutes through your email with your requested quote.</p>
    <br>
    <p>Make sure to keep an eye on your email!</p>

    <a href="../translation-services"><button type="button" class="btn backButton"><p>Back to previous page</p></button></a>
</div>

<!-- Event snippet for Purchase conversion page -->
<script>
  gtag('event', 'conversion', {
      'send_to': 'AW-966335125/oKCPCKiRyLIYEJW15MwD',
      'transaction_id': ''
  });
</script>
