---
title: USCIS Certified Translation Services
layout: 'base.njk'
metaDesc: Get Professional translation services for documents, websites, user manuals, and everything else into +25 languages at an excellent value!
---

<div class="container-full translationService">
    <div class="sec pt-5" id="LandingPageSection1">
        <div class="container HeroMiniSection">
            <div
                class="row">
                <!-- Image Column -->
                <div class="col-md-5 order-md-2 order-1 d-flex justify-content-center">
                    <div class="blob-container text-center">
                        <img src="../img/USCIS.avif" alt="USCIS Translation Services" class="blob-image">
                    </div>
                </div>
                <!-- Text Content Column -->
                <div class="col-md-7 order-md-1 order-2">
                    <h1 class="text-start">USCIS
                        <span style="color: var(--mainColor500);">Certified</span>
                        Translation Services</h1>
                    <p class="text-start" id="MainPar">Legally compliant, USCIS-ready certified translations — accurate, fast, and
                        officially recognized.
                    </p>
                    <div class="container-full text-start px-2">
                        <div class="row text-start">
                            <div class="col-12 col-md-auto mb-md-0">
                                <a href="http://order.eatranslations.com">
                                    <button type="button" class="btn CtaButton text-center" id="UsCta">Start Translation</button>
                                </a>
                            </div>
                            <div class="col-12 col-md-auto mb-md-0">
                                <a href="https://quote.eatranslations.com">
                                    <button type="button" class="btn CtaButton2 text-center" id="UsCtaQuote">Get a Free Quote
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-full trustSignal">
            <div class="container pt-1 pb-5">
                <div class="row text-center  trustRow">
                    <div class="col-md trustCol text-center"><img class="trust1" src="/img/uscisLogo.png" alt="">
                        <p class="text-center">100% Guaranteed USCIS Acceptance</p>
                    </div>
                    <div class="col-md trustCol text-center"><img class="trust2" src="/img/card.png" alt="">
                        <p class="text-center">Your Payments Are Safe & Secure
                        </p>
                    </div>
                    <div class="col-md text-center"><img class="trust3" src="/img/ssl.png" alt="">
                        <p>Safe & Encrypted Submission</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="first" id="LandingPageHowItWorks d-none d-lg-block">
        <div
            class="container px-3 d-none d-lg-block">
            <!-- Mobile-only -->
            <h2 class="text-center py-5">How it Works</h2>
            <p class="text-start pb-5">Our professional USCIS Certified Translation Services are fast, affordable, and easy to
                order. <br><br>
            Simply upload your files, provide your details, and make a secure payment. Our expert translators will deliver accurate,
            confidential, and USCIS certified translations—complete with a certificate of accuracy—straight to your inbox within
            24-48 hours.</p>
            <div class="row text-center">
                <div class="col-md pb-5">
                    <div class="icon">
                        <i class="fa fa-upload fa-2x"></i>
                    </div>
                    <h6 class="note">1. Upload Document(s)</h6>
                </div>
                <div class="col-md pb-5">
                    <div class="icon">
                        <i class="fa fa-keyboard-o fa-2x"></i>
                    </div>
                    <h6 class="note">2. Add Notes</h6>
                </div>
                <div class="col-md pb-5">
                    <div class="icon">
                        <i class="fa fa-shopping-cart  fa-2x"></i>
                    </div>
                    <h6 class="note">3. Pay Online</h6>
                </div>
                <div class="col-md pb-5">
                    <div class="icon">
                        <i class="fa fa-envelope-open fa-2x"></i>
                    </div>
                    <h6 class="note">4. Receive Translation</h6>
                </div>
            </div>
            <div class="container text-center">
                <a href="http://order.eatranslations.com">
                    <button type="button" class="btn CtaButton text-center py-2 UsCta2">
                        Start Your Order
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="sec" id="LandingPageLanguages">
        <div class="container mb-5 px-3">
            <h2 class="text-start d-block d-md-none py-5">Translation in over 40 languages</h2>
            <h2 class="text-center d-none d-md-block py-5">Translation in over 40 languages</h2>
            <p class="text-center d-block d-md-none pb-5">Through our global network of translators, we're able to support more than
                40 languages.<br><br> Here are some of our most popular languages:
            </p>
        </p>
        <p class="text-start d-none d-md-block pb-5">Through our global network of translators, we're able to support more than
            40 languages.<br><br> Here are some of our most popular languages:</p>
        <div
            class="row g-4">
            <!-- Card 1 -->
            <div class="col-4 col-lg-2">
                <div class="card text-center px-0">
                    <img src="https://flagcdn.com/w320/us.png" class="responsive-img img-fluid mx-auto" alt="Flag of English">
                    <h5 class="card-title mx-auto">English</h5>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col-4 col-lg-2">
                <div class="card  text-center">
                    <img src="https://flagcdn.com/w320/fr.png" class="responsive-img img-fluid mx-auto" alt="Flag of French">
                    <h5 class="card-title">French</h5>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col-4 col-lg-2">
                <div class="card  text-center">
                    <img src="https://flagcdn.com/w320/es.png" class="responsive-img img-fluid mx-auto" alt="Flag of Spanish">
                    <h5 class="card-title">Spanish</h5>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="col-4 col-lg-2">
                <div class="card  text-center">
                    <img src="https://flagcdn.com/w320/de.png" class="responsive-img img-fluid mx-auto" alt="Flag of German">
                    <h5 class="card-title">German</h5>
                </div>
            </div>
            <!-- Card 5 -->
            <div class="col-4 col-lg-2">
                <div class="card  text-center">
                    <img src="https://flagcdn.com/w320/it.png" class="responsive-img img-fluid mx-auto" alt="Flag of Italian">
                    <h5 class="card-title">Italian</h5>
                </div>
            </div>
            <!-- Card 6 -->
            <div class="col-4 col-lg-2">
                <div class="card px-0 text-center">
                    <img src="https://flagcdn.com/w320/pt.png" class="responsive-img img-fluid mx-auto" alt="Flag of Portuguese">
                    <h5 class="card-title">Portuguese</h5>
                </div>
            </div>
            <!-- Card 7 -->
            <div class="col-4 col-lg-2">
                <div class="card  text-center px-0">
                    <img src="https://flagcdn.com/w320/jp.png" class="responsive-img img-fluid mx-auto" alt="Flag of Japanese">
                    <h5 class="card-title">Japanese</h5>
                </div>
            </div>
            <!-- Card 8 -->
            <div class="col-4 col-lg-2">
                <div class="card  text-center">
                    <img src="https://flagcdn.com/w320/kr.png" class="responsive-img img-fluid mx-auto" alt="Flag of Korean">
                    <h5 class="card-title">Korean</h5>
                </div>
            </div>
            <!-- Card 9 -->
            <div class="col-4 col-lg-2">
                <div class="card  text-center">
                    <img src="https://flagcdn.com/w320/cn.png" class="responsive-img img-fluid mx-auto" alt="Flag of Chinese">
                    <h5 class="card-title">Chinese</h5>
                </div>
            </div>
            <!-- Card 10 -->
            <div class="col-4 col-lg-2">
                <div class="card h text-center">
                    <img src="https://flagcdn.com/w320/ru.png" class="responsive-img img-fluid mx-auto" alt="Flag of Russian">
                    <h5 class="card-title">Russian</h5>
                </div>
            </div>
            <!-- Card 11 -->
            <div class="col-4 col-lg-2">
                <div class="card  text-center">
                    <img src="https://flagcdn.com/w320/sa.png" class="responsive-img img-fluid mx-auto" alt="Flag of Arabic">
                    <h5 class="card-title">Arabic</h5>
                </div>
            </div>
            <!-- Card 12 -->
            <div class="col-4 col-lg-2">
                <div class="card  text-center">
                    <img src="https://flagcdn.com/w320/tr.png" class="responsive-img img-fluid mx-auto" alt="Flag of Turkish">
                    <h5 class="card-title">Turkish</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="first py-5" id="LandingPageAd1">
    <div class="container px-3">
        <h2 class="text-start d-block d-md-none mb-5">Translation for Any Document</h2>
        <h2 class="text-center d-none d-md-block mb-5">Translation for Any Document</h2>
        <div class="row px-2">
            <div class="col-md">
                <p>
                    EA Translations provides certified translation services for legal, academic, and official documents, ensuring accuracy
                    and global acceptance.
                    <br><br> Here are some of our most popular documents:
                </p>
            </div>
            <div class="col-md ">
                <div class="container-full text-center">
                    <div class="row">
                        <div class="col">
                            <a href="https://order.eatranslations.com/">
                                <div class="card mb-3 py-2" href="https://order.eatranslations.com/">
                                    <div class="card-body d-flex">
                                        <i class="fa fa-id-card pe-3 cl-2"></i>
                                        <h6 class="pb-0">Birth Certificate</h6>
                                    </div>
                                </div>
                            </a>
                            <a href="https://order.eatranslations.com/">
                                <div class="card mb-3 py-2">
                                    <div class="card-body d-flex">
                                        <i class="fa fa-file pe-3 cl-2"></i>
                                        <h6 class="card-title">Transcripts</h6>
                                    </div>
                                </div>
                            </a>
                            <a href="https://order.eatranslations.com/">
                                <div class="card mb-3 py-2">
                                    <div class="card-body d-flex">
                                        <i class="fa fa-plus-square pe-3 cl-2"></i>
                                        <h6 class="card-title">Vaccination Records</h6>
                                    </div>
                                </div>
                            </a>
                            <a href="https://order.eatranslations.com/">
                                <div class="card mb-3 py-2">
                                    <div class="card-body d-flex">
                                        <i class="fa fa-id-card pe-3 cl-2"></i>
                                        <h6 class="card-title">Driver's License</h6>
                                    </div>
                                </div>
                            </a>
                            <a href="https://order.eatranslations.com/">
                                <div class="card mb-3 py-2">
                                    <div class="card-body d-flex">
                                        <i class="fa fa-graduation-cap pe-3 cl-2"></i>
                                        <h6 class="card-title">Diploma</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a href="https://order.eatranslations.com/">
                                <div class="card mb-3 py-2">
                                    <div class="card-body d-flex">
                                        <i class="fa fa-plus-square pe-3 cl-2"></i>
                                        <h6 class="card-title">Medical Records</h6>
                                    </div>
                                </div>
                            </a>
                            <a href="https://order.eatranslations.com/">
                                <div class="card mb-3 py-2">
                                    <div class="card-body d-flex">
                                        <i class="fa fa-university pe-3 cl-2"></i>
                                        <h6 class="card-title">Bank Statement</h6>
                                    </div>
                                </div>
                            </a>
                            <a href="https://order.eatranslations.com/">
                                <div class="card mb-3 py-2">
                                    <div class="card-body d-flex">
                                        <i class="fa fa-user pe-3 cl-2"></i>
                                        <h6 class="card-title">Marriage Certificate</h6>
                                    </div>
                                </div>
                            </a>
                            <a href="https://order.eatranslations.com/">
                                <div class="card mb-3 py-2">
                                    <div class="card-body d-flex">
                                        <i class="fa fa-graduation-cap pe-3 cl-2"></i>
                                        <h6 class="card-title">Academic Records</h6>
                                    </div>
                                </div>
                            </a>
                            <a href="https://order.eatranslations.com/">
                                <div class="card mb-3 py-2">
                                    <div class="card-body d-flex">
                                        <i class="fa fa-file pe-3 cl-2"></i>
                                        <h6 class="card-title">Death Certificate</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center mb-4">
            <a href="http://order.eatranslations.com">
                <button type="button" class="btn CtaButton text-center py-2 UsCta2">
                    Start Your Order
                </button>
            </a>
        </div>
    </div>
</div>
<div class="first py-5 d-none d-md-block " id="LandingPageServices">
    <div class="container-full">
        <h2 class="text-center d-none d-md-block mb-5">Our Translation Services</h2>
        <p class="container mb-5">Both certified and standard translation services are carried out by the same professional
            translators, but they differ in translation style and deliverables. Certified translations are legally accepted for
            official use, while standard translations are suited for personal or informal purposes.</p>
        <div class="table-responsive">
            <table class="table table-borderless  text-successtable-border border-light">
                <thead class="">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" class="text-center">
                            <h3>Certified Translation</h3>
                            <p class="lightText smallText">For official use by universities, courts, and most local, state, and federal governments.</p>
                        </th>
                        <th scope="col" class="text-center">
                            <h3>Standard Translation</h3>
                            <p class="LightText">For personal use where certification is not required.</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            <p>Translation Style</p>
                        </th>
                        <td class="text-center">
                            <h6>
                                <h6>Literal (word-for-word)</h6>
                            </h6>
                        </td>
                        <td class="text-center">
                            <h6>Interpretive (conveys meaning)</h6>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <p>Accepted by USCIS</p>
                        </th>
                        <td class="text-center">
                            <h6>
                                <i class="fa fa-check text-success"></i>
                            </h6>
                        </td>
                        <td class="text-center">
                            <h6>
                                <i class="fa fa-times text-danger"></i>
                            </h6>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <p>Delivery Format</p>
                        </th>
                        <td class="text-center">
                            <h6>Non-editable PDF</h6>
                        </td>
                        <td class="text-center">
                            <h6>Varies (DOCX, HTML)</h6>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <p>Professional Translator</p>
                        </th>
                        <td class="text-center">
                            <i class="fa fa-check text-success"></i>
                        </td>
                        <td class="text-center">
                            <i class="fa fa-check text-success"></i>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <p>Translation Revisions</p>
                        </th>
                        <td class="text-center">
                            <i class="fa fa-check text-success"></i>
                        </td>
                        <td class="text-center">
                            <h6>Optional</h6>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <p>Document Formatting</p>
                        </th>
                        <td class="text-center">
                            <i class="fa fa-check text-success"></i>
                        </td>
                        <td class="text-center">
                            <h6>Optional</h6>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <p>Signed & Stamped Certification</p>
                        </th>
                        <td class="text-center">
                            <i class="fa fa-check text-success"></i>
                        </td>
                        <td class="text-center">
                            <i class="fa fa-times text-danger"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container text-center mt-4">
            <a href="http://order.eatranslations.com">
                <button type="button" class="btn CtaButton text-center py-2 UsCta2">
                    Start Your Order
                </button>
            </a>
        </div>
    </div>
</div>
<div class="sec" id="LandingPageReviews">
    <div class="container px-3">
        <h2 class="text-start d-block d-md-none py-5">1000+ Satisfied Customers</h2>
        <h2 class="text-center d-none d-md-block py-5">1000+ Satisfied Customers</h2>
        <p class="text-center pb-5 px-2">You can order with confidence knowing we consistently live up to our promise of quick
            turnaround times and great quality.
        </p>
        <div class="row px-2">
            <div class="col-md">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Maria</h5>
                        <h5>
                            <i class="fa fa-star cl-2"></i>
                            <i class="fa fa-star cl-2"></i>
                            <i class="fa fa-star cl-2"></i>
                            <i class="fa fa-star cl-2"></i>
                        </h5>
                        <p class="card-text">The translation work was done in less than 24 hours and it was great.</p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">John</h5>
                        <h5>
                            <i class="fa fa-star cl-2"></i>
                            <i class="fa fa-star cl-2"></i>
                            <i class="fa fa-star cl-2"></i>
                            <i class="fa fa-star cl-2"></i>
                            <i class="fa fa-star cl-2"></i>
                        </h5>
                        <p class="card-text">I highly recommend them to anyone!</p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Andres</h5>
                        <h5>
                            <i class="fa fa-star cl-2"></i>
                            <i class="fa fa-star cl-2"></i>
                            <i class="fa fa-star cl-2"></i>
                            <i class="fa fa-star cl-2"></i>
                            <i class="fa fa-star-half cl-2"></i>
                        </h5>
                        <p class="card-text">Great service. This is my second order and I was very pleased with the ease, price and turnaround
                            time.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center mb-4">
            <a href="http://order.eatranslations.com">
                <button type="button" class="btn CtaButton text-center py-2 UsCta2">
                    Start Your Order
                </button>
            </a>
        </div>
    </div>
</div>
<div class="first" id="LandingPageFaq">
    <h2 class="text-start d-block d-md-none px-3 py-5">Frequently Asked Questions</h2>
    <h2 class="text-center d-none d-md-block px-3 py-5">Frequently Asked Questions</h2>
    <div class="container">
        <div class="accordion mb-5" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne">
                        <h6>What is a certified translation?</h6>
                    </button>
                </h2>
                <div
                    id="collapseOne"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        A word-for-word human translation of documents delivered on EA Translations letterhead including a signed and stamped
                        Certificate of Translation Accuracy for official use as required by U.S. Immigration (USCIS), universities, courts, and
                        many local, state, and federal governments.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo">
                        <h6>What will you deliver to me?</h6>
                    </button>
                </h2>
                <div
                    id="collapseTwo"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <h2>What You’ll Receive with Your Certified Translation</h2>
                        <p>When you order a certified translation from us, here’s exactly what you get:</p>
                        <ul>
                            <li>
                                <strong>Non-Editable PDF File</strong><br> Your translation will be delivered as a secure, non-editable PDF file.
                            </li>
                            <li>
                                <strong>Certificate of Translation Accuracy</strong><br> Every translation includes a signed and stamped Certificate of
                                    Translation Accuracy. This document verifies that the translation is thorough, accurate, and completed by qualified
                                    professionals.
                            </li>
                            <li>
                                <strong>Professional Presentation</strong><br> Your translation is formatted to closely match the original document,
                                    maintaining a clear and professional appearance. However, we follow strict word-for-word standards, which means
                                    translations reflect the exact meaning of the source without interpreting phrases.
                            </li>
                            <li>
                                <strong>Additional Details</strong><br>
                                <ul>
                                    <li>All pages are on company letterhead, clearly displaying our contact information.</li>
                                    <li>Each page includes the order number and page number for easy reference.</li>
                                    <li>By default, the PDF contains only the translated document. If you’d like the source files included in the same PDF,
                                        just let us know during checkout.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseThree"
                        aria-expanded="false"
                        aria-controls="collapseThree">
                        <h6>How are pages counted for certified translation?</h6>
                    </button>
                </h2>
                <div
                    id="collapseThree"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Pages for certified translations are calculated based on the total word count of the document. A page is defined as 250
                        words or less, including numbers. Learn more about counting pages.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseFour"
                        aria-expanded="false"
                        aria-controls="collapseFour">
                        <h6>How long does certified translation take?</h6>
                    </button>
                </h2>
                <div
                    id="collapseFour"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Standard turnaround starts at 24 hours for up to three pages (750 words), while expedited turnaround reduces the
                        turnaround to 12 hours. Turnaround times are based on the total page count of your order and are calculated during the
                        checkout process.
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center mb-4">
            <a href="http://order.eatranslations.com">
                <button type="button" class="btn CtaButton text-center py-2 UsCta2">
                    Start Your Order
                </button>
            </a>
        </div>
    </div>
</div>
<div class="sec" id="LandingPageForm">
    <div class="container pb-5 px-3">
        <h2 class="text-start d-block d-md-none pt-5 pb-3">Start Your Order</h2>
        <h2 class="text-center d-none d-md-block pt-5 pb-3">Start Your Order</h2>
        <div
            class="row">
            <!-- Left column: Features list -->
            <div class="col-md-6">
                <p>Our certified translation features:</p>
                <ul>
                    <li>
                        <i class="fa fa-check"></i>
                        A signed certification of accuracy, included with your translation</li>
                    <li>
                        <i class="fa fa-check"></i>
                        Translated by a professional certified translator</li>
                    <li>
                        <i class="fa fa-check"></i>
                        Delivery starts at 24 hours</li>
                    <li>
                        <i class="fa fa-check"></i>
                        Up to 250 words per page</li>
                    <li>
                        <i class="fa fa-check"></i>
                        Revisions & proofreading included free of charge</li>
                    <li>
                        <i class="fa fa-check"></i>
                        USCIS acceptance guaranteed</li>
                </ul>
            </div>
            <!-- Right column: CTA buttons -->
            <div class="col-md-6 text-center">
                <a href="http://order.eatranslations.com">
                    <button type="button" class="btn CtaButton text-center py-2 mb-3 UsCta2">Start Your Order</button>
                </a>
            </div>
        </div>
        <!-- Hidden form, only visible when "Get a Quote" is clicked -->
        <div class="row mt-4" id="quoteForm" style="display: none;">
            <div class="col-md-12">
                <div class="container-full">
                    <div class="row">
                        <div class="col-12">
                            <form
                                id="contactForm"
                                name="contact-translationServices"
                                method="POST"
                                data-netlify="true"
                                action="/Success"
                                netlify-honeypot="bot-field">
                                <p hidden>
                                    <label>
                                        Don’t fill this out if you’re human: <input name="bot-field"/>
                                    </label>
                                </p>
                                <!-- Form Title -->
                                <h3 class="text-center">Order a Quote</h3>
                                <!-- Name Input -->
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="name">Name</label>
                                    <input class="form-control" id="name" type="text" placeholder="Name" name="name" required/>
                                </div>
                                <!-- Email Input -->
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="emailAddress">Email Address</label>
                                    <input class="form-control" id="emailAddress" type="email" placeholder="Email Address" name="email" required/>
                                </div>
                                <!-- Source Language Input -->
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="Source-Language[]">Source Language</label>
                                    <select class="form-select" id="SL" name="Source-Language[]" required>
                                        <option value="" disabled selected>Select a language</option>
                                        <!-- List of languages -->
                                        <option value="Arabic">Arabic</option>
                                        <option value="Afrikaans">Afrikaans</option>
                                        <!-- ...other languages... -->
                                    </select>
                                </div>
                                <!-- Target Language Input -->
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="Target-Language[]">Target Language</label>
                                    <select class="form-select" id="TL" name="Target-Language[]" required>
                                        <option value="" disabled selected>Select a language</option>
                                        <!-- List of languages -->
                                        <option value="English">English</option>
                                        <option value="Spanish">Spanish</option>
                                        <!-- ...other languages... -->
                                    </select>
                                </div>
                                <!-- Notes Input -->
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="message">Notes</label>
                                    <textarea
                                        class="form-control"
                                        id="message"
                                        name="message"
                                        placeholder="Any additional notes such as formatting, context, or anything else."
                                        style="height: 5rem;"></textarea>
                                </div>
                                <!-- File Upload -->
                                <div class="py-3">
                                    <label>
                                        <span>
                                            <b>Add file(s):</b>
                                        </span>
                                        <input name="file" type="file" required/>
                                    </label>
                                </div>
                                <!-- Submit Button -->
                                <div class="d-grid">
                                    <button class="btn btn-primary btn-lg SubmitButton" type="submit">Get Quote</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></div><script>
function toggleForm() {
    var form = document.getElementById("quoteForm");
    // Check if the form is already visible
    if (form.classList.contains('show')) {
        form.style.opacity = "0";
        form.style.maxHeight = "0";
        setTimeout(() => {
            form.classList.remove('show');
            form.style.display = "none";
        }, 500); // Time matches the CSS transition duration
    } else {
        form.style.display = "block";
        setTimeout(() => {
            form.classList.add('show');
            form.style.opacity = "1";
            form.style.maxHeight = form.scrollHeight + "px"; // Adjust max-height dynamically
        }, 10); // Small delay to allow CSS transitions to kick in
    }
}</script>